@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto Slab', serif;
    background-color: #e8e8e8;
}

.container{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.title-wrap{
    margin-bottom: 20px;
    border-bottom: 2px solid #ad6a3a;
    border-radius: 10px;
}

.title{
    margin: 20px 0;
    text-align: center;
    font-size: 40px;
    color: #ad6a3a;
}

.search-wrap{
    display: flex;
    align-items: center;
}

.search-input{
    width: 100%;
    padding: 10px 24px !important;
    border: none;
    border-radius: 8px 0 0 8px;
    background-color: #c0c0c0;
    font-size: 17px !important;
}

.search-input::placeholder{
    font-size: 17px;

}

.search-btn{
    width: 100px;
    height: 45.5px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: #ad6a3a;
    background-image: url("./images/search-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.movies-collection{
    list-style: none;
    padding-left: 0;
}

.movies-item{
    margin-bottom: 20px;
    padding: 17px 12px;
    border: 1px solid #3b3b3b;
    border-radius: 6px;
    background-color: #11110f;
    box-shadow: 0 0 15px 0 #646060;
}

.movie-title{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ad6a3a;
}

.movie-about{
    margin-bottom: 15px;
}

 .about-title{
     color: #a6a5a5;
}

 .info-text{
     color: #646060;
 }

 .movie-year{
     color: #646060;
 }

.movie-year::before{
    width: 18px;
    height: 18px;
    margin-right: 4px;
    background-image: url("./images/date.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
}

.movie-duration{
    margin: 0;
    color: #646060;
}

.movie-duration::before{
    width: 18px;
    height: 18px;
    margin-right: 4px;
    background-image: url("./images/clock.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
}

.movie-rating{
    color: #646060;
}

.movie-rating::before{
    width: 18px;
    height: 18px;
    margin-right: 4px;
    background-image: url("./images/star.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
}

.category-title{
    margin-right: 8px;
    color: #a6a5a5;
}

.category{
    margin: 0;
    color: #646060;
}

@media only screen and (min-width: 660px){
    .movies-collection{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 20px;
        flex-wrap: wrap;
    }

    .movies-item{
        max-width: 305px;
    }
}

@media only screen and (min-width: 768px){
    .select-js{
        width: 25%;
    }
}


@media only screen and (min-width: 992px){
    .movies-collection{
        grid-template-columns: repeat(3, auto);
    }

    .movies-item{
        max-width: 280px;
    }
}

@media only screen and (min-width: 1200px){
    .movies-collection{
        grid-template-columns: repeat(4, auto);
    }

    .movies-item{
        max-width: 280px;
    }
}
